streamlit==1.49.1
numpy==2.3.2
pandas==2.3.2
scikit-learn==1.4.2
cloudpickle==3.1.1
requests==2.32.5
responses==0.25.0

# --- dev/test ---
# pytest>=8.0
# pyspark==3.5.1
# responses>=0.25
# numpy>=1.26
# Opcional (solo si vas a testear Delta local real)

# delta-spark==3.2.0










